<header class="z-30 flex items-center w-full h-24 sm:h-32">
  <div class="container flex items-center justify-between px-6 mx-auto">
    <div
      class="flex items-center text-3xl font-black text-gray-800 uppercase dark:text-white"
    >
      <a href="/" routerLink="/"><span class="mt-1 text-xs text-red-700"> Angular Pro </span></a>
    </div>
    <div class="flex items-center">
      <nav
        class="items-center hidden text-lg text-gray-800 uppercase font-sen dark:text-white lg:flex"
      >
        <a href="/topics" routerLink="/topics" class="flex px-6 py-2 hover:text-black"> Topics </a>
        <a href="https://github.com/hbweb/talk-angular-pro" target="_blank" title="Github Repository" class="flex px-6 py-2 hover:text-black"> Github </a>
      </nav>
      <button class="flex flex-col ml-4 lg:hidden">
        <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white"> </span>
        <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white"> </span>
        <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white"> </span>
      </button>
    </div>
  </div>
</header>
