<div class=" md:w-1/2">
  <h1 class="mb-2 text-1xl font-bold text-gray-800 md:text-3xl">
    Angular Architecture
  </h1>

  <p class="pb-8">Angular architecture topic consist of the following</p>
  <ul class="">
    <li class="item p-4 mb-2 bg-slate-200 flex justify-between">Container vs presentation component <a href="https://blog.angular-university.io/angular-2-smart-components-vs-presentation-components-whats-the-difference-when-to-use-each-and-why/" target="_blank"><i class="fa-solid fa-arrow-right-long"></i> Read</a></li>
    <li class="item p-4 mb-2 bg-slate-200">Lazy loading with router</li>
    <li class="item p-4 mb-2">The different types of ngModules</li>
    <li class="item p-4 mb-2">Dependency injection providers</li>
  </ul>
</div>
